*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    /*  background:rgba(0, 0, 0, 0.8);*/

}
.pop{
    width: 700px;
    height: 490px;
    margin-top: 30px;
    margin-left: 25%;
    overflow: auto
}
#top{
    background-image: url("../../estilos/orfeo50/imagenes50/log.png");
    background-size: 100% 100%;
    width: 100%;
    height: 256px;
    overflow: hidden;
    border-radius: 40px 40px 0px 0px;
}
#top div{
    height: 128px;
}
.rojo{
    background-color: rgba(255,0,0,0.3);
}
.blanco{
    background-color: rgba(255, 255, 255, 0.54);
}
#top div div img{
    margin-top: 25px;
    position: relative;
    width: 80%;
    margin-left: 11%;
    z-index: 999;
}
/*proporciones logo orfeo*/
#logoEntidad{ 
    margin-left: 40px !important;
    margin-right: auto !important;
    margin-top: 6px !important;
    width: 246px !important;
}
/*#logoEntidad{
    margin-left: 59px !important;
    margin-right: auto !important;
    margin-top: -8px !important;
    width: 186px !important;
}*/

#bot{
    width: 100%;
    height: 233px;
    background: #D33F4B;
    border-radius: 0px 0 40px 40px;
}
.cuerpo{
    overflow: hidden;
    position: absolute;
    margin-left: 87px;
    padding: 2%;
    width: 700px;
    height: 256px;
}
.boton{
    width: 80%;
    display: inline-block;
    padding:4%;
    color: #fff;
    background-color:#1A3F5E;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
}
input{
    width: 80%;
    padding: 2%;
    border-radius: 50px;
}
.botones{
    background-color:#1A3F5E;
    width: 40%;
    padding: 2%;
    color: #fff;
    margin-left: 57px;
    font-size: 18px;
}

#krd , #drd{
    margin-top: 8px;
}
